# Connect to Supabase via connection pooling with Supavisor.
DATABASE_URL=

# Direct connection to the database. Used for migrations.
DIRECT_URL=

GMAIL_USER=
GMAIL_APP_PASSWORD=

CUSTOMER_SUCCESS_USER=
CUSTOMER_SUCCESS_APP_PASSWORD=